<app-card [titulo]="'Fazer novo pedido'">
  <form [formGroup]="formulario">
    <div class="form-group">

      <p-listbox
        [options]="listaDePratos"
        [(ngModel)]="prato"
        optionLabel="nomePrato"
        [filter]="true"
        [checkbox]="true"
        formControlName="pratoSelecionado"
      >
        <ng-template let-prato pTemplate="prato">
          <div class="p-d-flex p-ai-center p-jc-between w-100">
            <b>{{ prato.nomePrato }}</b>
            <app-tag [tagValue]="'verde'">R$ {{ prato.valorPrato }}</app-tag>
          </div>

        </ng-template>
      </p-listbox>

      <app-button [buttonType]="'primary'" (click)="submit()">Fazer pedido</app-button>

    </div>
  </form>
</app-card>
