<app-card [titulo]="'Fazer novo pedido'">
  <form [formGroup]="formulario">
    <div class="form-group">

      <label>Mesa</label>
      <input type="number" class="form-control mb-4" formControlName="mesaSelecionada" [(ngModel)]="mesa">

      <label>Prato</label>
      <p-listbox
        [options]="listaDePratos"
        [(ngModel)]="prato"
        optionLabel="nomePrato"
        [filter]="true"
        [checkbox]="true"
        formControlName="pratoSelecionado"
      >
        <ng-template let-prato pTemplate="prato">
          <div class="p-d-flex p-ai-center p-jc-between w-100">
            <h5>{{ prato.nomePrato }}</h5>
            <app-tag [tagValue]="'verde'"><h6>{{ prato.valorPrato | currency: 'BRL' }}</h6></app-tag>
          </div>

        </ng-template>
      </p-listbox>

      <app-button [buttonType]="'primary'" (click)="submit()">Fazer pedido</app-button>

    </div>
  </form>
</app-card>
