<app-card [titulo]="'Lista de Pedidos'">
  <div class="p-d-flex p-jc-between p-ai-center">
    <p>Listar apenas pedidos pendentes?</p>
    <p-inputSwitch
      [(ngModel)]="listarApenasPendentes"
      (onChange)="atualizarLista(listarApenasPendentes)"
     >
    </p-inputSwitch>
  </div>
  <p-table
    [value]="listaDePedidos"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Numero do pedido</th>
        <th>Nome do Prato</th>
        <th>Valor</th>
        <th>Situação</th>
        <th>Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido>
      <tr>
        <td>{{ pedido.numeroPedido }}</td>
        <td>{{ pedido.nomePrato }}</td>
        <td>R$ {{ pedido.valorPrato }}</td>
        <td>
          <app-tag
          [tagValue] = "pedido.situacaoPedido"
          >
          {{ pedido.situacaoPedido }}
          </app-tag>
        </td>
        <td *ngIf="pedido.situacaoPedido == 'NOVO'">
          <div class="btn-group">
            <app-button [buttonType]="'verde'" (click)="concluirPedido(pedido.numeroPedido)">Concluir Pedido</app-button>
            <app-button [buttonType]="'vermelho'" (click)="cancelarPedido(pedido.numeroPedido)">Cancelar Pedido</app-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
    <h2>Total: (Inserir somatório de itens aqui)</h2>
    </ng-template>
  </p-table>
</app-card>
