<app-card [titulo]="'Lista de pedidos'">
  <p-table [value]="listaDePedidos" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Numero do pedido</th>
        <th>Nome do Prato</th>
        <th>Valor</th>
        <th>Situação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pedido>
      <tr>
        <td>{{ pedido.numeroPedido }}</td>
        <td>{{ pedido.nomePrato }}</td>
        <td>R$ {{ pedido.valorPrato }}</td>
        <td>
          <app-tag
          [tagValue] = "pedido.situacaoPedido"
          >
          {{ pedido.situacaoPedido }}
          </app-tag>
        </td>
        <td>
          <div class="btn-group">
            <!-- <button class="btn btn-primary" (click)="editarAluno(aluno.id)"> Editar</button>
            <button class="btn btn-primary" (click)="excluirAluno(aluno.id)"> Excluir</button> -->
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
    <h2>Total: (Inserir somatório de itens aqui)</h2>
    </ng-template>
  </p-table>
</app-card>
