<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="m-2">Bem vindo ao Colmeia App!</h2>
      <p>Seu sistema administrativo de Restaurantes</p>
      <p>Pegue uma mesa e faça seu pedido!</p>
      <!-- <app-button [buttonType]="'alter'" (click)="mudarRota(pedidos)">Faça seu pedido</app-button> -->
      <p>É um administrador? Faça login!</p>
      <!-- <app-button [buttonType]="'alter'" (click)="mudarRota(login)" >Faça login como administrador</app-button> -->
    </div>
  </div>
</div>
