/* Header */
aside.header {
  background-color: #ffd592;
  color: #99522E;
}

aside.header > .nav-link > .p-d-inline-flex.p-ai-center {
  cursor: pointer;
}

aside.main-sidebar {
  background: #ffd592;
  color: #99522E;
}
aside.main-sidebar a{
  color: #99522E;
}

[class*=sidebar-light] .brand-link {
  border-bottom: none !important;
}

[class*=sidebar-light] .sidebar a {
  color: #99522E !important;
}

[class*=sidebar-light] .sidebar a:hover {
  background-color: rgba(0,0,0,.1) !important;
  color: #99522E !important;
}

aside::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -3em;
  right: 0;
  background-color: #ffd592;
  opacity: .05;
  background-size: 320px auto;
  rotate: (10px);
}

:not(.layout-fixed) .main-sidebar {
  width: 10em;
}
