/* Estilos personalizados */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  cursor: pointer;
}

input.form-control.ng-invalid.ng-untouched {
  border: 1px solid #a94442
}

input.form-control.ng-valid.ng-untouched {
  border: 1px solid #42a5f5
}

input.form-control.ng-invalid.ng-touched {
  border: 1px solid #a94442
}

input.form-control.ng-valid.ng-touched {
  border: 1px solid #42a5f5
}

select.form-control.ng-invalid.ng-untouched {
  border: 1px solid #a94442
}

select.form-control.ng-valid.ng-untouched {
  border: 1px solid #42a5f5
}

select.form-control.ng-invalid.ng-touched {
  border: 1px solid #a94442
}

select.form-control.ng-valid.ng-touched {
  border: 1px solid #42a5f5
}
